.personalize-button ion-icon {
    font-size: 32px;
}

.dateLabel {
    font-size: 21px;
    margin-top: -8px;
    margin-bottom: 8px;
}

.forTitleLabel {
    font-size: 22px;  
    margin: 50px 0px 50px 0px;
}

.toggle-fav {
    margin: 50px 0px 50px 0px;
}

.dropLabel {
    font-size: 21px;
    margin-top: -8px;
}

.dateMarginer {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:max-content;
}

.selectorMarginer {
    margin-top: 10px;
    margin-bottom: 15px;
}

.titleCSS {
    text-align:center;
    color: black;
    font-weight:bold;
}

.disabled {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
}

.ion-button {
    background-color: #fbfbfb;
}

.tripButton { 
    font-size: 32px !important;
    margin: 10px 50px 10px 50px;
}

.reset-btn {
    color: #000000 !important;
}

.apply-btn {
    color: #FB9224 !important;
}

.disabled {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
}