
<ion-header>
  <ion-toolbar>

    <ion-buttons class="disabled" slot="start">
      <ion-button [disabled]="true" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="titleCSS">FILTERS</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="fav-label">
      <ion-label class="forTitleLabel fav-label" >Favorites Only</ion-label>
      <ion-toggle class="toggle-fav fav-label" [(ngModel)]="filterCriteria.isFav"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Travel</ion-label>
      <ion-select [(ngModel)]="filterCriteria.companion" name="prop1">
        <ion-select-option *ngFor="let prop1 of travelCompanion" [value]="prop1">
          {{ prop1 }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Type</ion-label>
      <ion-select [(ngModel)]="filterCriteria.type" name="type">
        <ion-select-option *ngFor="let type of travelTypes" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Status</ion-label>
      <ion-select [(ngModel)]="filterCriteria.status" name="state">
        <ion-select-option *ngFor="let state of travelStates" [value]="state">
          {{ state }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="full" (click)="resetFilters()" class="tripButton reset-btn">
        <ion-icon name="refresh-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="full" (click)="applyFilters()" class="tripButton apply-btn">
        <ion-icon name="checkmark-done-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>