
.personalize-button ion-icon {
    font-size: 2rem;
}

.dateLabel {
    font-size: 1.313rem;
    margin-top: -8px;
    margin-bottom: 8px;
}

.forTitleLabel {
    font-size: 1.375rem;
    margin-bottom: -2px;
}

.dropLabel {
    font-size: 1.313rem;
    margin-top: -8px;
}

.dateMarginer {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:max-content;
}

.selectorMarginer {
    margin-top: 10px;
    margin-bottom: 15px;
}

.titleCSS {
    text-align:center;
    color: black;
    font-weight:bold;
}

.disabled {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
}

.ion-button {
    background-color: #fbfbfb;
}

.tripButton {
    --background: #fb9224;
}