
<ion-header>
  <ion-toolbar>
    <ion-buttons class="disabled" slot="start">
      <ion-button [disabled]="true" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="titleCSS">{{ action === 'create' ? 'ADD LOCATION' : 'UPDATE LOCATION' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label class="forTitleLabel" position="stacked">Name</ion-label>
    <ion-textarea [(ngModel)]="location.description" name="description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="dropLabel" position="stacked">Priority</ion-label>
    <ion-select [(ngModel)]="location.prop1" name="prop1">
      <ion-select-option *ngFor="let prop1 of priority" [value]="prop1">
        {{ prop1 }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="dateLabel" position="stacked">Day</ion-label>
    <ion-datetime 
      class="dateMarginer" 
      [(ngModel)]="location.startAt" 
      [min]="travelStartAt" 
      [max]="travelEndAt"
      name="startAt">
    </ion-datetime>
  </ion-item>

  <ion-footer>
    <ion-button expand="full" (click)="saveLocation()" class="tripButton">
      {{ action === 'create' ? 'ADD LOCATION' : 'UPDATE LOCATION' }}
    </ion-button>
  </ion-footer>
</ion-content>