/*.button-container {
    display: flex;
    justify-content: center;  /* Horizontally center the button */
    /*align-items: center;      /* Vertically center the button */
    /*height: 100%;             /* Ensure the content takes up full height */
    /*background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
}*/

.centered-title {
    text-align: center;
    color: black;
    width: 100%;
}

/* #FB9224;
   #FFE382 */
.outlineCard {
    border: 0.25rem solid; /* Orange border */
    border-radius: 10px; /* Optional: to round the corners */
    border-color: #FB9224}

.editButton {
    margin-left: 0.313rem;
    margin-right: -0.313rem;
}

.deleteButton {
}