
<ion-header>
  <ion-toolbar>

    <ion-buttons class="disabled" slot="start">
      <ion-button [disabled]="true">
        <ion-icon name="square"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="centered-title">
      <b>TRIPS</b>
    </ion-title>

    <ion-buttons class="add-travel" slot="end">
      <ion-button (click)="postTravel()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="trips-content">

  <!-- Show a message if no travels are available -->
  <ion-text *ngIf="travels.length === 0" class="ion-text-center">
    <h3 class="flex-center">No Trips Available.</h3>
  </ion-text>

  <!-- Iterate over travels and display each as a card -->
  <ion-card class="outlineCard" *ngFor="let travel of travels">
    <ion-card-header>
      <ion-card-title><h1><b>Title: </b> {{ travel.description }}</h1></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <div class="inline-container">
        <p class="travel-color"><b>Travel:<br></b>{{ travel.prop1 }}</p>
        <p class="travel-color"><b>Destination:<br></b>{{ travel.prop2 }}</p>
        <p class="travel-color"><b>Type:<br></b>{{ travel.type }}</p>
        <p class="travel-color"><b>Status:<br></b>{{ travel.state }}</p>
      </div>

      <div class="inline-container">
        <p class="travel-date"><b class="white-text">Start Date:<br></b>{{ travel.startAt | date: 'dd/MM/yy - HH:mm\'h\'' }}</p>
        <p class="travel-date"><b class="white-text">End Date:<br></b>{{ travel.endAt | date: 'dd/MM/yy - HH:mm\'h\'' }}</p>      
      </div>
    </ion-card-content>

    <!-- Comments Button -->
    <div>
    <ion-button (click)="openCommentsModal(travel)" class="personalize-button" fill="clear">
      <ion-icon name="newspaper"></ion-icon>      
    </ion-button>
  
    <!-- Edit Button -->
    <ion-button (click)="putTravel(travel)" class="personalize-button" fill="clear">
      <ion-icon name="create"></ion-icon>       
    </ion-button>

    <ion-button fill="clear" class="personalize-button">
      <ion-router-link [routerLink]="['/tabs/locations/']" class="redirect-button">
        <ion-icon name="caret-forward-circle"></ion-icon>
      </ion-router-link>
    </ion-button>

    <!-- Delete Button -->
    <ion-button  (click)="deleteTravel(travel)" class="personalize-button" fill="clear">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    </div>
  </ion-card>
</ion-content>