/*.button-container {
    display: flex;
    justify-content: center;  /* Horizontally center the button */
    /*align-items: center;      /* Vertically center the button */
    /*height: 100%;             /* Ensure the content takes up full height */
    /*background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
}*/

.centered-title {
    text-align: center;
    color: black;
    width: 100%;
}

.trips-content {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if needed */
    text-align: center;
    padding: 16px; /* Add some padding around the content */
}

.trips-content .card-content-md {
    padding-top: 0;
    padding-bottom: 0;
}

/* #FB9224;
   #FFE382 */
.outlineCard {
    display:grid;
    border: 0.25rem none; /* Orange border */
    border-radius: 10px; /* Optional: to round the corners */
    // border-color: #979491
    margin: 15px 20px 15px 20px;
}

.inline-container {
    display: flex;
    gap: 10px; /* Space between items */
    justify-content: flex-start; /* Align items horizontally */
    max-width: 100%;
    margin-bottom: 10px;
}

.inline-container p {
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    color: white; /* Text color */
    flex: 1; /* Ensure consistent width if desired */
}

.disabled {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%; /* Optional: to round the corners */
    margin: 10px 5px 10px 20px;
}

.add-travel {
    color: #ffffff;
    background-color: #FB9224; /* Blue */   
    border-radius: 50%; /* Optional: to round the corners */
    margin: 10px 20px 10px 5px;
    transition: all ease-in-out 0.3s;
}

.add-travel:hover {
    background-color: #000000; /* Blue */  
}

.personalize-button {
    color: #FB9224;
    padding: 10px;
    margin: 0px;  
    transition: all ease-in-out 0.3s;
}

.personalize-button:hover {
    color: #000000;
}

.personalize-button ion-icon {
    font-size: 32px;
}

.travel-color {
    background-color: #FFE382; /* Blue */ 
    color: #000000 !important; 
}

.travel-date {
    background-color: #000000; /* Yellow */
    color: #ffffff !important;
}

.white-text {
    color: white !important;
}

.redirect-button {
    color: #FB9224;
    transition: all ease-in-out 0.3s;
}

.redirect-button:hover {
    color:#000000;
}

.h1 {
    color:#000000;
}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%
}

@media screen and (max-width: 500px) 
{ 
    .outlineCard {
        display: flex;
        flex-direction: column;
        margin: 15px 20px 15px 20px;
    }
    
    .trip-content {
        display: flex;
        flex-direction: column;
    }
    
    .inline-container {
        display: flex;
        flex-direction: column;
    }
    
    .personalize-button {
        padding: 5px;
        margin: 0px;  
    }

    .inline-container {
        gap: 10px;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .inline-container p {
        margin: 0;
        padding: 8px;
    }
}
