/*.button-container {
    display: flex;
    justify-content: center;  /* Horizontally center the button */
    /*align-items: center;      /* Vertically center the button */
    /*height: 100%;             /* Ensure the content takes up full height */
    /*background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
}*/

.centered-title {
    text-align: center;
    color: black;
    width: 100%;
}

.trips-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.trips-content .card-content-md {
    padding-top: 0;
    padding-bottom: 0;
}

.outlineCard {
    display:grid;
    border: 0.25rem none; 
    border-radius: 10px; 
    margin: 15px 20px 15px 20px;
}

.inline-container {
    display: flex;
    gap: 10px; 
    justify-content: flex-start;
    max-width: 100%;
    margin-bottom: 10px;
}

.inline-container p {
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    color: white;
    flex: 1;
}

.disabled {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 50%;
    margin: 10px 5px 10px 20px;
}

.filter-travel {
    color: #ffffff;
    background-color: #FB9224; 
    border-radius: 50%;
    margin: 10px 5px 10px 20px;
    transition: all ease-in-out 0.3s;
}

.filter-adjust {
    padding-top: 2px !important;
}

.add-travel {
    color: #ffffff;
    background-color: #FB9224; 
    border-radius: 50%;
    margin: 10px 20px 10px 5px;
    transition: all ease-in-out 0.3s;
}

.filter-travel:hover,
.add-travel:hover {
    background-color: #000000;  
}

.personalize-button {
    color: #FB9224;
    padding: 10px;
    margin: 0px;  
    transition: all ease-in-out 0.3s;
}

.personalize-button:hover {
    color: #000000;
}

.personalize-button ion-icon {
    font-size: 32px;
}

.fab-custom-size {
    right: 2px !important;
}

.fab-custom {
    padding: 15px;
    --box-shadow: 0 !important;
}

.fab-custom ion-icon {
    padding: 0px;
    font-size: 30px;
    --box-shadow: 0 !important;
}

.travel-color {
    background-color: #FFE382;
    color: #000000 !important; 
}

.travel-date {
    background-color: #000000; 
    color: #ffffff !important;
}

.white-text {
    color: white !important;
}

.redirect-button {
    color: #FB9224;
    transition: all ease-in-out 0.3s;
}

.redirect-button:hover {
    color:#000000;
}

.h1 {
    color:#000000;
}

.flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%
}

@media screen and (max-width: 498px) 
{ 
    .outlineCard {
        display: flex;
        flex-direction: column;
        margin: 15px 20px 15px 20px;
    }
    
    .trip-content {
        display: flex;
        flex-direction: column;
    }
    
    .inline-container {
        display: flex;
        flex-direction: column;
    }
    
    .personalize-button {
        padding: 5px;
        margin: 0px;  
    }

    .personalize-button ion-icon {
        font-size: 28px;
    }

    .fab-custom-size {
        right: -8px !important;
    }

    .inline-container {
        gap: 10px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .inline-container p {
        margin: 0;
        padding: 8px;
    }
}
