<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="actionType === 'POST' || actionType === 'PUT'">
    <!-- Form fields for editing/creating travel -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="travel.description" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-input [(ngModel)]="travel.type" name="type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-input [(ngModel)]="travel.state" name="state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Start Date</ion-label>
      <ion-datetime [(ngModel)]="travel.startAt" name="startAt"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">End Date</ion-label>
      <ion-datetime [(ngModel)]="travel.endAt" name="endAt"></ion-datetime>
    </ion-item>

    <ion-footer>
      <ion-button expand="full" (click)="submitForm()">
        {{ actionType === 'POST' ? 'Create Travel' : 'Update Travel' }}
      </ion-button>
    </ion-footer>
  </form>

  <div *ngIf="actionType === 'DELETE'">
    <ion-text color="danger">
      <h2>Are you sure you want to delete this travel?</h2>
    </ion-text>
    <ion-footer>
      <ion-button expand="full" color="danger" (click)="confirmDelete()">Delete</ion-button>
      <ion-button expand="full" (click)="dismiss()">Cancel</ion-button>
    </ion-footer>
  </div>
</ion-content>
