
<ion-header>
  <ion-toolbar>

    <ion-buttons class="disabled" slot="start">
      <ion-button [disabled]="true" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="titleCSS">{{ modalTitle }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="personalize-button">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="actionType === 'POST' || actionType === 'PUT'">

    <ion-item>
      <ion-label class="forTitleLabel" position="stacked">Title</ion-label>
      <ion-input [(ngModel)]="travel.description" name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Travel</ion-label>
      <ion-select [(ngModel)]="travel.prop1" name="prop1">
        <ion-select-option *ngFor="let prop1 of travelComp" [value]="prop1">
          {{ prop1 }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Destination</ion-label>
      <ion-input [(ngModel)]="travel.prop2" name="prop2" placeholder="City, Country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="dropLabel" position="stacked">Type</ion-label>
      <ion-select [(ngModel)]="travel.type" name="type">
        <ion-select-option *ngFor="let type of travelTypes" [value]="type">
          {{ type }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label class="dropLabel" position="stacked">Status</ion-label>
      <ion-select [(ngModel)]="travel.state" name="state">
        <ion-select-option *ngFor="let state of travelStates" [value]="state">
          {{ state }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="dateLabel" position="stacked">Start Date</ion-label>
      <ion-datetime class="dateMarginer" [(ngModel)]="travel.startAt" name="startAt"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label class="dateLabel" position="stacked">End Date</ion-label>
      <ion-datetime class="dateMarginer" [(ngModel)]="travel.endAt" name="endAt"></ion-datetime>
    </ion-item>

    <ion-footer>
      <ion-button expand="full" (click)="submitForm()" class="tripButton">
        {{ actionType === 'POST' ? 'NEW TRIP' : 'UPDATE TRIP' }}
      </ion-button>
    </ion-footer>
  </form>

  <div class="deletePrompt" *ngIf="actionType === 'DELETE'">

    <ion-text color="danger">
      <h2>Are you sure you want to delete this trip?</h2>
    </ion-text>

    <ion-footer>
      <ion-button expand="full" color="danger" (click)="confirmDelete()">Delete</ion-button>
      <ion-button expand="full" (click)="dismiss()">Cancel</ion-button>
    </ion-footer>
    
  </div>

</ion-content>