<ion-header>
  <ion-toolbar>
    <ion-title>
      As Minhas Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment value="default">

    <ion-segment-button value="default">
      <ion-label>TO DO</ion-label>
    </ion-segment-button>

    <ion-segment-button value="segment">
      <ion-label>DONE</ion-label>
    </ion-segment-button>
    
  </ion-segment>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
