
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons class="disabled" slot="start">
      <ion-button [disabled]="true">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="centered-title"><b>NOTIFICATIONS</b></ion-title>

    <ion-buttons class="disabled-r" slot="end">
      <ion-button [disabled]="true">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="triggerNotification()">Show Notification</ion-button>

  
  <ion-card *ngIf="showNotification" class="notification-card">

    <ion-card-header>
      <ion-card-title> {{ notification.title }} </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ notification.message }}
    </ion-card-content>
  
    <ion-button fill="clear">Go</ion-button>
    <ion-button fill="clear" color="danger" (click)="dismissNotification()">Dismiss</ion-button>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title> Name of the Notification/What Trip It's From </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Notification content and stuff.
    </ion-card-content>
  
    <ion-button fill="clear">Go</ion-button>
    <ion-button fill="clear" color="danger" (click)="dismissNotification()">Dismiss</ion-button>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title> Name of the Notification/What Trip It's From </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Notification content and stuff.
    </ion-card-content>
  
    <ion-button fill="clear" (click)="dismissNotification()">Ok</ion-button>
    
  </ion-card>

</ion-content>